.box .info {
        border-color:#2196f3;
        margin-left:5%;
        height:0;
        overflow-y:hidden;
        transition:0.4s;
  }
.popup {
  background-color:#2196f3;
  height:21vh;
  width:90vw;
  margin-left:5%;
  margin-right:10%;
  font-size:2.5vw;
  text-align:center;
  border-radius:25px;
  position: relative;
  transition:0.4s;
}
.popup span {
  transition:0.4s;
  opacity:0;
}
.box:hover .popup {
  height:35vh;
  background-color:#249fff;
}
.box:hover .popup span {
  transform:translateX(-30px);
  opacity:1;
 }
 .box:hover .info {
   height:75vh;
 }
 .btn {
   margin-left:65vw;
   border-radius:25px;
 }
 @media screen and (max-width:600px) {
	 .popup {
		 font-size:4vw;
		 height:7vh;

	 }
	 .box:hover .popup {
		 height:10vh;
	 }
	 .box:hover .info {
		 height:30vh;
	 }
	 .btn {
		 margin-left:60vw;
	 }

 }
