<html>
<head>
<title>NetErnels Devs Area </title>
</head>
<body>
<div>
<h1>NetErnels Restricted Area</h1>
Only admins are allowed here.
</div>
<div><br>
Username :<input id="tgu"><br><br>Password :<input id="password" type="password"><br><br>
<button onclick=run()>Confirm</button>
</div>
</body>
<script>
function run() {
	var mmbr=document.getElementById("tgu").value;
	var passwd=window.btoa(document.getElementById("password").value);
	window.open("/dev_login?mmbr="+mmbr+"&passwd="+passwd);
}
</script>
</html>
