<html>
<head>
<title>Editzz Neternls</title>
</head>
<body>
<h1>IMP Notice</h1>
<b>Please log out when you are complete </b>
<br><br>
<button onclick="window.open('/dev_logout','_self');">LogOut</button>
<h1>Members</h1>
{% for x in range (0,len_mem) %}
<div id="{{members[x][0]}}">
<br><br>
<b>{{members[x][0]}}</b>
<br><br><br>
Username : <input id="name" value="{{members[x][0]}}"><br>
Profile Link: <input id="usrlnk" value="{{members[x][1]}}"><br>
Image Link: <input id="imglnk" value="{{members[x][2]}}"><br>
Designation: <input id="desig" value="{{members[x][3]}}"><br>
<br>
<button onclick=update_m("{{members[x][0]}}")>Submit</button>
</div>
{% endfor %}
<button onclick="document.getElementById('new_m').style.display='block';">Add new member</button>
<div style="display:none" id="new_m">
<b>New Member</b>
<br><br>
<br><br>
Username: <input id="name"><br>
Profile Link: <input id="usrlnk"><br>
Image Link: <input id="imglnk"><br>
Designation: <input id="desig"><br>
<br><button onclick=new_m()>Submit</button>
</div>

<h1>Devices</h1>
{% for x in range(0,len_dev) %}
<div id="{{devices[x][0]}}">
<br><br><b>{{devices[x][0]}}</b><br><br>
Device name: <input id="name" value="{{devices[x][0]}}"><br>
Download link: <input id="lnk" value="{{devices[x][1]}}"><br>
Code name: <input id="code" value="{{devices[x][2]}}"><br>
Developer Name: <input id="dev" value="{{devices[x][3]}}"><br>
Size (Number only) : <input id="size" type="number"  value="{{devices[x][4]}}"><br>
<br><button onclick=update_d("{{devices[x][0]}}","{{devices[x][2]}}")>Submit</button>
<br><button onclick="alert('{{devices[x][0]}} {{devices[x][2]}}');">Test</button>

</div>
{% endfor %}
<button onclick="document.getElementById('new_d').style.display='block';">Add new device</button>
<br><br><div style="display:none" id="new_d">
Device name: <input id="name"><br>
Download link: <input id="lnk"><br>
Code name: <input id="code"><br>
Developer Name: <input id="dev"><br>
Size (Number only) : <input id="size" type="number"><br>
<br><button onclick=new_d()>Submit</button>
</div>
<br><br>
<b>Delete a Device</b>
Codename:<input id="del"><br>
<button onclick="window.open('/delete/devices/'+document.getElementById('del').value,'_self');">Submit</button>
</body>
<script>
function update_d(id,old_c) {
	var obj=document.getElementById(id);
	var name=obj.querySelector("#name").value;
	var lnk=obj.querySelector("#lnk").value;
	var code=obj.querySelector("#code").value;
	var dev=obj.querySelector("#dev").value;
	var size=obj.querySelector("#size").value;
	if (name != "" && lnk != "" && code != "" && dev != "" && size != "") {
		var lnk="/dev_update/device/update?id="+old_c+"&name="+name+"&lnk="+lnk+"&code="+code+"&dev="+dev+"&size="+size;
		window.open(lnk,'_self');
	} else {
		alert("Fill");
	}
}
</script>
<script>
function new_d() {
	var obj=document.getElementById("new_d");
	var name=obj.querySelector("#name").value;
	var lnk=obj.querySelector("#lnk").value;
	var code=obj.querySelector("#code").value;
	var dev=obj.querySelector("#dev").value;
	var size=obj.querySelector("#size").value;
	if (name != "" && lnk != "" && code != "" && dev != "" && size != "") {
		var lnk="/dev_update/device/insert?name="+name+"&lnk="+lnk+"&code="+code+"&dev="+dev+"&size="+size;
		window.open(lnk,'_self');
	} else {
		alert("Fill");
	}
}
function update_m(id) {
	var obj=document.getElementById(id);
	var name=obj.querySelector("#name").value;
	var usrlnk=obj.querySelector("#usrlnk").value;
	var imglnk=obj.querySelector("#imglnk").value;
	var desig=obj.querySelector("#desig").value;
	if (name != "" && usrlnk != "" && imglnk != "" && desig != "") {
		var lnk="/dev_update/member/update?id="+id+"&name="+name+"&usrlnk="+usrlnk+"&imglnk="+imglnk+"&desig="+desig;
		window.open(lnk,'_self');
	} else {
		alert("Fill all");
	}
}
function new_m() {
	var obj=document.getElementById("new_m");
	var name=obj.querySelector("#name").value;
	var usrlnk=obj.querySelector("#usrlnk").value;
	var imglnk=obj.querySelector("#imglnk").value;
	var desig=obj.querySelector("#desig").value;
	if (name != "" && usrlnk != "" && imglnk != "" && desig != "") {
		var lnk="/dev_update/member/insert?name="+name+"&usrlnk="+usrlnk+"&imglnk="+imglnk+"&desig="+desig;
		window.open(lnk,'_self');
	} else {
		alert("Fill");
	}
}
</script>
</html>
